<a href="https://colab.research.google.com/github/LinaSaikute/Database-and-Analytics-programming/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
 %load_ext rpy2.ipython

The rpy2.ipython extension is already loaded. To reload it, use:
  %reload_ext rpy2.ipython

In [6]:
%R

In [9]:
 %R X=c(1,4,5,7); sd(X); mean(X)

array([4.25])

In [16]:

%R v1 <- c(1, 5, 11, 33)      # Numeric vector, length 4
%R v2 <- c("hello","world")    # Character vector, length 2 (a vector of strings)
%R v3 <- c(TRUE, TRUE, FALSE)  # Logical vector, same as c(T, T, F)

<rpy2.robjects.vectors.BoolVector object at 0x7f61dc3e8230> [RTYPES.LGLSXP]
R classes: ('logical',)
[       1,        1,        0]

In [19]:
%R v1

array([ 1.,  5., 11., 33.])

In [21]:
%R v2

<rpy2.robjects.vectors.StrVector object at 0x7f61dc357e10> [RTYPES.STRSXP]
R classes: ('character',)
['hello', 'world']

In [22]:
seconds_in_a_day = 24 * 60 * 60
seconds_in_a_day

86400